{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li>
            <a href="{% url 'bad_sql:detail' question.id %}">{{ question.question_text }}</a>
            -
            <a href="{% url 'bad_sql:results' question.id %}">See Results</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}