<h1>{{ question.question_text }}</h1>

<ul>
{% for choice in question.choice_set.all %}
    <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
{% endfor %}
</ul>

<a href="{% url 'bad_sql:detail' question.id %}">Vote again?</a>
<br>
<a href="{% url 'bad_sql:index' %}">Back to Polls</a>
<br>
The following people have voted:
<ul>
{% for vote in question.vote_set.all %}
    <li>{{ vote.email }}</li>
{% endfor %}
</ul>